@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@300&display=swap');

:root {
    --dark-bg-main: #172626;
    --light-bg-main: #ECE8E4;

    --light-font-color: #ECE8E4;
    --dark-font-color: #172626;

    --font-title: 'Bebas Neue', cursive;
    --font-text:  'Roboto', sans-serif;

    --font-title-color: #BFA38A;

    --button-bg-color: #BF4904;

    --button-hover-bg-color: #BF4904;

    --input-bg-color: #F28627;


}

/* 
Color palletes

#172626

#F28627

#BFA38A

#ECE8E4

#BF4904

#732002
*/